﻿<!DOCTYPE html>
<html lang="en" data-ng-app="app" ng-controller="AppCtrl">

<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>{{app.name}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="apple-touch-icon" href="pages/ico/60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="pages/ico/76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="pages/ico/120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="pages/ico/152.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta content="{{app.description}}" name="description" />
    <meta content="{{app.author}}" name="author" />
    <!-- BEGIN Vendor CSS-->
    <link href="assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="assets/plugins/bootstrapv3/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/bootstrap-select2/select2.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="assets/plugins/switchery/css/switchery.min.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="assets/plugins/bootstrap-tag/bootstrap-tagsinput.css" rel="stylesheet" type="text/css" />
	<link href="assets/plugins/jquery-nouislider/jquery.nouislider.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="assets/plugins/jquery-datatable/media/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="assets/plugins/jquery-datatable/extensions/FixedColumns/css/dataTables.fixedColumns.min.css" rel="stylesheet" type="text/css" />
	<link href="assets/plugins/datatables-responsive/css/datatables.responsive.css" rel="stylesheet" type="text/css" media="screen" />
    <link id="lazyload_placeholder">
    <!-- BEGIN Pages CSS-->
    <link href="pages/css/pages-icons.css" rel="stylesheet" type="text/css">
    <link class="main-stylesheet" ng-href="{{app.layout.theme}}" rel="stylesheet" type="text/css" />


    <link rel="stylesheet" href="assets/css/style.css" type="text/css" media="all" />
	<link rel="stylesheet" href="assets/css/print.css" type="text/css" media="print" />
	<link rel="stylesheet" href="assets/css/lists/group.css" type="text/css" media="all" />

    <!--[if lte IE 9]>
        <link href="pages/css/ie9.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <!--[if lt IE 9]>
            <link href="assets/plugins/mapplic/css/mapplic-ie.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <script type="text/javascript">
    window.onload = function() {
        // fix for windows 8
        if (navigator.appVersion.indexOf("Windows NT 6.2") != -1)
            document.head.innerHTML += '<link rel="stylesheet" type="text/css" href="pages/css/windows.chrome.fix.css" />'
    }
    </script>
</head>

<body class="fixed-header" ng-class="{
'bg-master-lighter': is('app.extra.timeline'),
'no-header': is('app.social') || is('app.calendar') || is('app.maps.vector') || is('app.maps.google'),
'menu-pin' : app.layout.menuPin,
'menu-behind' : app.layout.menuBehind
 }">
    <div class="full-height" ui-view></div>
    <!-- BEGIN VENDOR JS -->
    <!-- JQUERY -->
    <script src="assets/plugins/pace/pace.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="assets/plugins/modernizr.custom.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery/jquery-easy.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-bez/jquery.bez.min.js"></script>
    <script src="assets/plugins/jquery-ios-list/jquery.ioslist.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-actual/jquery.actual.min.js"></script>
    <script src="assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script type="text/javascript" src="assets/plugins/classie/classie.js"></script>
    <script type="text/javascript" src="assets/plugins/bootstrapv3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/plugins/switchery/js/switchery.min.js"></script>
	<script type="text/javascript" src="assets/plugins/bootstrap-tag/bootstrap-tagsinput.min.js"></script>
	<script src="assets/plugins/jquery-nouislider/jquery.nouislider.min.js" type="text/javascript"></script>
	<script src="assets/plugins/jquery-ios-list/jquery.ioslist.min.js" type="text/javascript"></script>
	<script src="assets/plugins/jquery-datatable/media/js/jquery.dataTables.min.js" type="text/javascript"></script>
	<script src="assets/plugins/jquery-datatable/extensions/TableTools/js/dataTables.tableTools.min.js" type="text/javascript"></script>
	<script src="assets/plugins/jquery-datatable/media/js/dataTables.bootstrap.js" type="text/javascript"></script>
	<script src="assets/plugins/jquery-datatable/extensions/Bootstrap/jquery-datatable-bootstrap.js" type="text/javascript"></script>
	<script type="text/javascript" src="assets/plugins/datatables-responsive/js/datatables.responsive.js"></script>
    
    
    <!-- ANGULAR -->
    <script src="assets/plugins/angular/angular.js" type="text/javascript"></script>
    <script src="assets/plugins/angular-ui-router/angular-ui-router.min.js" type="text/javascript"></script>
    <script src="assets/plugins/angular-ui-util/ui-utils.min.js" type="text/javascript"></script>
    <script src="assets/plugins/angular-sanitize/angular-sanitize.min.js" type="text/javascript"></script>
    <script src="assets/plugins/angular-oc-lazyload/ocLazyLoad.min.js" type="text/javascript"></script>
    <!-- END VENDOR JS -->

    <!-- END VENDOR JS -->
    <!-- BEGIN CORE TEMPLATE JS -->
    <script type="text/javascript" src="pages/js/pages.js"></script>
	<script type="text/javascript" src="assets/js/lists/group.js"></script>
    <!-- END CORE TEMPLATE JS -->
    <!-- BEGIN PAGE LEVEL JS -->
	<script type="text/javascript" src="assets/js/our_equipment/data.js"></script>
	<script type="text/javascript" src="assets/js/our_equipment/page.js"></script>
    <!-- END PAGE LEVEL JS -->
    <!-- BEGIN CORE TEMPLATE JS -->
    <script src="assets/js/app.js" type="text/javascript"></script>
    <script src="assets/js/config.js" type="text/javascript"></script>
    <script src="assets/js/config.lazyload.js" type="text/javascript"></script>
    <script src="assets/js/main.js" type="text/javascript"></script>
    <script src="assets/js/directives/pg-sidebar.js" type="text/javascript"></script>
    <script src="assets/js/directives/cs-select.js" type="text/javascript"></script>
    <script src="assets/js/directives/pg-dropdown.js" type="text/javascript"></script>
    <script src="assets/js/directives/pg-form-group.js" type="text/javascript"></script>
    <script src="assets/js/directives/pg-navigate.js" type="text/javascript"></script>
    <script src="assets/js/directives/pg-portlet.js" type="text/javascript"></script>
    <script src="assets/js/directives/pg-tab.js" type="text/javascript"></script>
    <script src="assets/js/directives/pg-search.js" type="text/javascript"></script>
    <script src="assets/js/directives/skycons.js" type="text/javascript"></script>
    <script src="assets/js/controllers/search.js" type="text/javascript"></script>
    <script src="assets/js/controllers/login.js" type="text/javascript"></script>
    <script src="assets/js/controllers/tenants.js" type="text/javascript"></script>
    <!-- END CORE TEMPLATE JS -->
     <!-- BEGIN VENDOR JS -->

	
</body>

</html>