 <!-- START PAGE CONTENT WRAPPER -->
<style type="text/css">
		
		#neural-filter-avl-container {
			margin-left: 30px;
		}

		#neural-filter-avl-container .label, #neural-filter-aml-container .label {
			left: 55px;
		}

		#neural-filter-conflict-container .label {
			left: 55px;
		}
		
		#neural-filter-rare-earths-container .label {
			left: 55px;
		}
		
	</style>
      <div class="page-content-wrapper ">
        <!-- START PAGE CONTENT -->
        <div class="content ">
		<!-- START JUMBOTRON -->
          <div class="jumbotron">
          	<div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
              <div class="inner">
                <!-- START BREADCRUMB -->
                <ul class="breadcrumb" style="padding-bottom:60px;">
                  <li>
                    <a href="dashboard.html">DASHBOARD</a>
                  </li>
                  <li>
					<a href="#" class="active">OUR TENANTS</a>
                  </li>
                </ul>
                <!-- END BREADCRUMB -->

                <div class="row" id="toppane">
							<div style="position: absolute; right:50px; bottom:15px">
								<button id="neural-button-start" class="btn btn-cons btn-neural" onclick="jQuery('#modalSlideUpSmall').modal('show');">NEW TENANT</button>
							</div>

			    </div>
				<!-- END "toppane" -->
			  </div>
			  <!-- END "inner" header -->
			</div>
			<!-- END fluid container header -->
		</div>
		<!-- END "jumbotron" -->

		<div class="neural-content">
			
			<!-- Put main content here -->

			<div style="margin-top:17px;" id="neural-list-filters">

				<div class="neural-search-input-container">
					<i class="pg-search"></i><input id="search-organization-people2" onkeyup="onEquipmentSearchKeyUp(this)" class="neural-search" placeholder="Search Specifications, Locations, Programs">
				</div>

				<div class="neural neural-select-minimal form-group form-group-default form-group-default-select2" style="width:150px;" id="neural-filter-avl-container">
	                <label class="neural">FILTER 1</label>
	                <select id="neural-filter-avl" class="full-width" data-init-plugin="select2">
						<option value=" " selected title="None">&nbsp;</option>
						<option value="avl_1">AVL_1</option>
						<option value="avl_2">AVL_2</option>
						<option value="avl_3">AVL_3</option>
						<option value="avl_4">AVL_4</option>
						<option value="avl_5">AVL_5</option>
						<option value="avl_6">AVL_6</option>
						<option value="avl_7">AVL_7</option>
						<option value="avl_8">AVL_8</option>
						<option value="avl_9">AVL_9</option>
						<option value="avl_10">AVL_10</option>
	                </select>
					<span class="label label-inverse">999</span>
	           	</div>
	
				<div class="neural neural-select-minimal form-group form-group-default form-group-default-select2" style="width:150px;" id="neural-filter-aml-container">
	                <label class="neural">FILTER 2</label>
	                <select id="neural-filter-aml" class="full-width" data-init-plugin="select2">
						<option value=" " selected title="None">&nbsp;</option>
						<option value="aml_1">AML_1</option>
						<option value="aml_2">AML_2</option>
						<option value="aml_3">AML_3</option>
						<option value="aml_4">AML_4</option>
						<option value="aml_5">AML_5</option>
						<option value="aml_6">AML_6</option>
						<option value="aml_7">AML_7</option>
						<option value="aml_8">AML_8</option>
						<option value="aml_9">AML_9</option>
						<option value="aml_10">AML_10</option>
	                </select>
					<span class="label label-inverse">12</span>
	           	</div>
	
				<div class="neural neural-select-minimal form-group form-group-default form-group-default-select2" style="width:150px;" id="neural-filter-conflict-container">
	                <label class="neural">FILTER 3</label>
	                <select id="neural-filter-conflict" class="full-width" data-init-plugin="select2">
						<option value=" " selected title="None">&nbsp;</option>
						<option value="conflict_1">Conflict_1</option>
						<option value="conflict_2">Conflict_2</option>
						<option value="conflict_3">Conflict_3</option>
						<option value="conflict_4">Conflict_4</option>
						<option value="conflict_5">Conflict_5</option>
						<option value="conflict_6">Conflict_6</option>
						<option value="conflict_7">Conflict_7</option>
						<option value="conflict_8">Conflict_8</option>
						<option value="conflict_9">Conflict_9</option>
						<option value="conflict_10">Conflict_10</option>
	                </select>
					<span class="label label-inverse">1</span>
	           	</div>

				<div class="neural neural-select-minimal form-group form-group-default form-group-default-select2" style="width:150px;" id="neural-filter-rare-earths-container">
	                <label class="neural">FILTER 4</label>
	                <select id="neural-filter-rare-earths" class="full-width">
						<option value=" " selected title="None">&nbsp;</option>
						<option value="rare_earth_1">Rare_Earth_1</option>
						<option value="rare_earth_2">Rare_Earth_2</option>
						<option value="rare_earth_3">Rare_Earth_3</option>
						<option value="rare_earth_4">Rare_Earth_4</option>
						<option value="rare_earth_5">Rare_Earth_5</option>
						<option value="rare_earth_6">Rare_Earth_6</option>
						<option value="rare_earth_7">Rare_Earth_7</option>
						<option value="rare_earth_8">Rare_Earth_8</option>
						<option value="rare_earth_9">Rare_Earth_9</option>
						<option value="rare_earth_10">Rare_Earth_10</option>
	                </select>
					<span class="label label-inverse">9</span>
	           	</div>
			</div>

            <div class="table-responsive" style="margin-top:19px">
	            <table class="table table-hover table-condensed table-detailed" id="detailedTable">
				<thead>
					<tr>
                        <th style="width:14%">Tenant Name</th>
						<th style="width:10%">DEVICE ID</th>
						<th style="width:10%">DESCRIPTION</th>
						<th style="width:8%">LOCATION</th>
						<th style="width:6%">YEAR</th>
						<th style="width:8%">UTILIZATION</th>
						<th style="width:8%">VENDOR_1</th>
						<th style="width:4%" class="status">STATUS</th>
						<th style="width:8%">RESP. OP</th>
						<th style="width:8%" class="numeric">QTY</th>
						<th style="width:8%" class="numeric">COST</th>
						<th style="width:8%" class="numeric">VALUE</th>
					</tr>
				</thead>
				<tbody>

				</tbody>
				</table>
            </div>	
			
			<!-- END NEURAL PAGE CONTENT -->
		</div>

          <div class="modal fade stick-up in" id="modalSlideUpSmall" tabindex="-1" role="dialog" aria-labelledby="addNewAppModal" aria-hidden="false"  padding-right: 16px;">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header clearfix ">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                  </button>
                  <h4 class="p-b-5"><span class="semi-bold">New</span> TENANT</h4>
                </div>
                <div class="modal-body">
                  <p class="small-text">Create a new tenant using this form, make sure you fill them all</p>
                  <form role="form">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group form-group-default">
                          <label>name</label>
                          <input id="appName" type="text" class="form-control" placeholder="Name of Tenant" ng-model="formData.tenantName">
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button id="add-app" type="button" class="btn btn-primary  btn-cons" ng-click="addTenant()">Add</button>
                  <button type="button" class="btn btn-cons">Close</button>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>

        <!-- END PAGE CONTENT -->
      </div>
      <!-- END PAGE CONTENT WRAPPER -->
    <!-- END PAGE CONTAINER -->
